@charset "UTF-8";

div#wrapper{
    font-style: normal;   
}

.second-Paragraph{
    width: 80%;
    margin: 0 auto;
}

.blue-line{
    content: "";
    display: block;
    border: 1px solid #367dff;
}

.Profile{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;/*勝手に要素が高さを揃えるために伸びてしまうのを防ぐ*/
}
.Profile_img{
    width: 50%;
}

.Profile_img img{
    display: block;
    width: 80%;
}
.about_txt{
    width: 50%;
}

.about_txt h1{
    margin: 0 auto;
}

.profile_txt{
    margin-bottom: 2rem;
}

.profile_txt h4{
    margin-top:1rem;
}


.profile_title{
    display: inline-block;
    width: 8rem;
}

.biography{
    margin-top:3%;
}

.biography h2{
    margin: 0 auto;
}

.biography-detail{
    display: block;
    margin: 30px auto auto;
    background-color:#e6e6e6;
    padding: 10px;
    color: #585757;
    font-weight: 600;
}

.biography-detail__item{
    display: block;
    margin-top: 5px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #585757;
}

.biography-detail__number{
    background-color: #367dff;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.biography-detail__etc{
    display: block;
    text-align: right;
    font-size: 1.4rem;
    color: #585757;
}

.experience{
    margin-top: 2rem;
}
.experience_flex-item{
    margin: 5px;
    font-size: 15px;
}

.experience_flex-item-inner{
    padding-left:1rem;
    padding-right: 1rem;
    background-color: #ff5736;
    color: #fff;
    height: 2rem;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.experience .experience_flex{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.skill{
    margin-top:10%;
}

.skill p{
    margin-top: 0.2rem;   
    font-size: 18px;

}
.skill .skill_flex{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.skill_flex h4 span{
    display: inline-block;
    width: 7rem;
}

.skill .skill_flex .design{
    margin-right: 5%;
}

.skill .skill_flex .technology{
    margin-left: 5%;
}

.star{
    color: #ff5736;
}

/*bio list*/
.biography-list{
    list-style: none;
}
.biography-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #367dff; 
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
}
.biography-item-main{
    font-weight: 700;
}
.biography-item-speciality{
    display: block;
    font-size: 14px;
    color: #585757;
}
.biography-item-priod{
    color:#ff5736;
    font-weight: 700;
}


/*read more*/
.grad-wrap{
    position: relative;
}
 .grad-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(150%);
    z-index: 2;
    margin: auto;
    width: max-content;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background: #367dff;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }
  .grad-btn:hover{
      opacity: 0.6;
  }

  .grad-btn::before {
    content: "Read more"
  }
  .grad-item {
    position: relative;
    overflow: hidden;
    height: 10vh; /*隠した状態の高さ*/
  }
  .grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }
  .grad-trigger {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger:checked ~ .grad-btn::before {
    content: "Close" /*チェックされていたら、文言を変更する*/
  }
  .grad-trigger:checked ~ .grad-item {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger:checked ~ .grad-item::before {
    display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
  }

/* Extra large devices (large desktops, 1200px and up) 
default*/
@media (min-width: 1200px) { }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px)  { 

 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px)  { 
    .Profile_img{
        width: 100%;
    }
    .Profile_img img{
        margin: 0 auto;
        width: 60%;
    }
    .skill{
        margin-top: 15%;
    }
    .about_txt{
        width: 100%;
        margin-top: 3%;
    }
    .second-Paragraph{
        width: 100%;
    }
    .grad-wrap{
       margin-top: 3%;
    }

 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .Profile_img{
        width: 100%;
    }
    .Profile_img img{
        margin: 0 auto;
    }
    .about_txt{
        width: 100%;
        margin-top: 3%;
    }
    .experience .experience_flex{
        padding-right: 0%;
    }
    .second-Paragraph{
        width: 100%;
    }
    .skill .skill_flex .design{
        margin-right: 0;
        width: 50%;
    }
    
    .skill .skill_flex .technology{
        margin-left: 0;
        width: 50%;
    }
    .grad-wrap{
        margin-top: 3%;
     }
     .skill{
        margin-top: 20%;
    }

  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .Profile_img{
        width: 100%;
    }
    .Profile_img img{
        margin: 0 auto;
    }

    .about_txt{
        width: 100%;
        margin-top: 3%;
    }

    .experience .experience_flex{
        padding-right: 0%;
    }

    .skill .skill_flex .design{
        width: auto;
        margin-right: 0;
        margin-top: 1rem;
    }
    
    .skill .skill_flex .technology{
        width: auto;
        margin-left: 0;
        margin-top: 8%;
    }
    .second-Paragraph{
        width: 100%;
    }
    .grad-wrap{
        margin-top: 3%;
     }

     .biography{
        margin-top: 2rem;
     }

     .biography-item{
        display: block;
    }
    .skill{
        margin-top: 30%;
    }
 }

