@charset "UTF-8";

.process{
    margin: 1rem;
    margin-top: 3%;
    padding: 1rem;
    background-color: #e6e6e6;
}

.CI_title{
    width: 8rem;
}
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Mind{
    margin-top: 1rem;
    display: block;
    /*センタリングしたい*/
}


.Mind_top{
    margin-top: 5%;
}
.Mind_txt{
    display: block;
    text-align: left;
    /*ーをwidthフルにしたいときは.philosophyに移動*/
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 0.8rem;
}

.Mind_txt h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Mind_lasttxt{
    border-bottom: none;
}

.font {
    margin-top: 1rem;

}
.VI_list{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: max-content;
    border-top:2px solid #ff5736;
    border-bottom: 2px solid #ff5736;
}

.VI_list h3{
    margin-bottom: 0.5rem;
}
.VI_list p{
    margin-top:0;
}

.font .font_txt h4{
    padding-left: 1rem;
    margin-top: 3%;
}
.font_txt h4 span{
    display: inline-block;/*忘れない*/
    width: 10rem;
}

div.intention{
    margin-top:3%;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

div.intention p{
    padding-left: 1rem;
    padding-right: 1rem;  
}


.logo {
    margin-top: 5%;
}

.logo .logo_img{
    margin-top: 3%;
    padding-left: 2rem;
    box-sizing: border-box;
    width: 50%;
    display: block;
}

.logo div.intention p{
    margin-bottom: 3%; 
}

div.intention .logo_expimg{
    display: block;
    width: 100%;
}

  .logo_flex{
      width: 100%;
      box-sizing: border-box;
      margin-top: 2rem;
      margin-bottom: 0rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      align-items: center;
  }
  .logochange_img {
    width: 45%;
    align-items: center;
  }
  .logochange_img img{
    width: 100%;
    display: block; 
    margin: 0 auto;
    margin-bottom: 1rem; 
  }
 .logochange_img p{
    text-align: center;
  }
 p.triangle {
      color: #ff5736;
      width: 5%;
      font-size: 5vw;
      align-items: center;
      margin-top:0%;
      margin-left: -1rem;
  }
  
  p.logochange_txt{
      margin-top: 1rem;
  }

.color {
    width: 100%;
    margin-top: 5%;
}

.primary{
    padding: 1rem;
    box-sizing: border-box;
    width: 16vw;
    height: 16vw;
    background-color: #ff5736;
    color: #fff;
    margin: 0 auto;
}

/* Extra large devices (large desktops, 1200px and up) 
default*/
@media (min-width: 1200px) { }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px)  { 

 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px)  { 
    .whatisCI{
        width: 180px;
        height: 180px;}

        .primary{
            width: 28vw;
            height: 28vw;
        }

 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .whatisCI{
        width: 180px;
        height: 180px;
 }
    .logo .logo_img{
        width: 100%;
    }      
    .primary{
        width: 28vw;
        height: 28vw;
    }
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.CI_flexitem{
    margin: 0 auto;

}
    .logo .logo_img{
        width: 100%;
    }

    .VI_list{
        width: auto;
    }

    .primary{
        padding-bottom: 2rem;
        width: 50vw;
        height: 50vw;
    }


    div.intention{
        margin-top:5%;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    p.triangle {
        font-size: 8vw;
    }

.style-guide{
    margin-left:0rem;  
    margin-right: calc(16px + 1rem);
}

.font-flex{
    padding: 1rem 1.5rem;
}
.CI_flex{
    flex-direction: column;

}

}