@charset "UTF-8";

/*project list*/

.contents.contents-project{
    margin-top: 3%;
}

div.project{
    margin-top: 3%;
}

.project_flex{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project_flexitem{
    width:calc((100% - 3%) / 4);
    box-sizing: border-box;
    flex-wrap:wrap;
    align-self: stretch;
    position: relative;
    margin-left: 1%;
}


.project_flexitem:nth-child(4n + 1){
    margin-left: 0;
}

.project_flexitem:nth-child(n + 5){
    margin-top: 1%;
}

.project_flexitem img{
    width:100%;
    height:	100%;  
    object-fit: cover;
}

.project_flexitem .mask{
    width:100%;
    height:	100%;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;	/* .maskを表示しない */
	background-color:	rgba(0,0,0,0.8);
	-webkit-transition:	all 0.6s ease;
    transition: all 0.6s ease;
    overflow: hidden;
}

.project_flexitem .mask p{
    text-align:left;
    color:#fff;
    padding: 2rem;
}

.project_flexitem:hover .mask{
    opacity: 1;	/* マスクを表示する */
}

.project__flexitem-title{
    display: block;
    font-size: 18px;
}
.project__flexitem-date{
    display: block;
    font-size: 12px;
}

.project__flexitem-role{
    width: max-content;
    margin-top: 0.5rem;
    font-size: 12px;
    padding: 2px 10px;
    background-color: #ff5736;
    color: #fff;
    border-radius: 24px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


/*each project*/
.project-MV{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

.project-MV img{
    display: block;
    width: 100%;
    height: 100%;
}

.project img{
    display: block;
    width: 100%;
}

.project-information{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-information__title{
    width: 48%;
    margin: 20px auto;
}

.project-information__detail{
    width: 48%;
    margin: 3% auto 0 auto; 
}

.project-information__date,.project-information__client,.project-information__role{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 20px;
    line-height: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.project-information__date-title,.project-information__client-title,.project-information__role-title{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.project-information__date-title,.project-information__client-title,.project-information__role-title{
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1.5rem;
    white-space: nowrap;
    color: #797979;
}

.project-information__date-main,.project-information__client-main,.project-information__role-main{
    display: block;
    font-size: 1.2rem;
}
.project-information__client-main{
    margin-bottom: 0.5rem;
}

.project-information__client-url{
    margin-top: 0.5rem;
    display: block;
}

.project-introduction{
    margin: 15px auto 0 auto;
}

.project-introduction__summary{
    display: block;
    margin: 3% auto 8% auto;
    width: 80%;
}

.project-introduction__one-column{
    width: 100%;
    margin: 3% auto 0 auto;
}
.project-introduction__one-column img{
    display: block;
    width: 100%;
}

.project-introduction__detail{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.project-introduction__summary-title,.project-introduction__detail-title,.project-output__title,.project-process__title{
    color: #3a3a3a;
    font-size: 1.4rem;
    font-weight: 800;

}

.project-introduction__order,.project-introduction__target{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.project-introduction__target{
    margin-top: 30px;
}

.project-introduction__order-txt,.project-introduction__target-txt{
    width: 48%;
}

.project-introduction__order-img,.project-introduction__target-img{
    width: 48%;
    max-width: 600px;
}

.project-introduction__order-img img,.project-introduction__target-img img{
    display: block;
    width: 100%;
}
.project-introduction__order-txt-title,.project-introduction__target-txt-title{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1em;
    color: #797979;
}
.project-introduction__circle{
    font-size: 8px;
    color: #367CFF;  
    margin-right: 5px;
}
.project-introduction__color{
    background-color: #eaa21e;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.project-introduction__color2{
    background-color: #ff5736;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.project-output{
    width: 80%;
    margin: 8% auto;
}

.project-output__one-column{
    width: 100%;
    margin: 3% auto 0 auto;
}
.project-output__one-column img{
    display: block;
    width: 100%;
}

.project-output__portlait{
    width: 65%;
    margin: 3% auto 0 auto;
}

.project-output__portlait img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.project-output__two-column{
    width: 100%;
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.project-output__two-column img{
    width: 48%;
    display: block;
}

.project-output__two-column-item{
    width: 48%;
    display: block;
}

.project-output__two-column-item img{
    width: 100%;
    display: block;
}
.project-output__two-column-item a{
    

}

.project-output__three-column{
    width: 100%;
    margin: 3% auto 0 auto;
    display: flex;
    align-items: flex-start;
}
.project-output__three-column img{
    width: calc(100% / 3);
    display: block;
}

.project-process{
    width: 80%;
    display: block;
    margin: 3% auto 8% auto;
    border-top: 1px solid #e6e6e6;
}

.project-process__main-txt{
    margin-top: 3%;
}
.project-process__title{
    margin-bottom: 3%;
}

.project-process__main-img{
    width: 100%;
    margin: 0 auto;
}
.project-process__main-img img{
    width: 100%;
    display: block;
}

.project_slide{
    padding: 3%;
    box-sizing: border-box;
    background-color:#e6e6e6;
}

.project_slide img{
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    box-sizing: border-box;
    display: block;
    width: 80%;
}

.project-slide__3column{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
}
.project-slide__3column img{
    width: calc(100%/3);
    display: block;
    margin: 0;
}

.project-slide__3column__insta{
    padding-top: 3%;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
}
.project-slide__3column__insta__item{
    width: calc(100%/3);
}
.project-slide__3column__insta__item img{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.project-slide__3column__insta__item .viewsite{
    padding: 0.5rem;
    font-size: 14px;
}

.tres_styleguide{
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tres_item{
    width: 50%;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
}

.tres_item img{
    display: block;
    width: 100%;
}

div.tres_sitemap img{
    display: inline-block;
    text-align: left;
    
    height: 100vh;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.viewflex{
    display: flex;
    justify-content: center;

}

.viewimage{
    white-space: nowrap;
    display: block;
    width: min-content;
    text-align: center;
    margin: 5% auto 0 auto;
    min-width: 120px;
    border-radius: 2px;
    background: #367dff;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.viewimage:hover{
    opacity: 0.6;
}


.viewtext {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    display: block;
    padding: 0.5rem 1rem;
  }


.viewimage2{
    margin-right:15px;
    margin-left: 15px;
  }

 .viewtext:hover{
  color: #fff ;
  }

  .viewsite{
    transition: .4s;
  }

  .viewsite_text {
    text-decoration: none;
    color: #367dff;
  }
  .viewsite:hover{
    opacity: 0.5;
  }


  footer.project_button{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div.button_item{
    display: block;
    margin-right:3%;
    margin-left: 3%;
}

footer.project_button a.url{
    font-size: 22px;
}

footer.project_button a.url:hover{
    opacity: 0.5;
}

/*hiyoko before/after*/
.contents-flex-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
}

.contents-flex-container__item{
    width: calc((100% - 16px)/2);
    box-sizing: border-box;
}
.contents-flex-container__item:nth-child(2){
    margin-left: 16px;
}
.contents-flex-container__item img{
    width: 100%;
    display: block;
}

/*削除*/
/*some item-width__50%*/
.item-width50{
    margin: 0 auto;
    width: 100%;
}
.item-width50__item p{
    margin: 0 auto;
    display: block;
    width: calc(50% - 16px);
}
.item-width50__item img{
    display: block;
    width: calc(50% - 16px);

}



/* Extra large devices (large desktops, 1200px and up) 
default*/
@media (min-width: 1200px) { }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px)  { 

    .project_flexitem{
        width:calc((100% - 2%) /3);
        margin-left: 1%;
        }

        .project_flexitem:nth-child(n + 4){
            margin-top: 1%;
        }
        .project_flexitem:nth-child(4n + 1){
            margin-left: 1%;
        }

        .project_flexitem:nth-child(3n + 1){
            margin-left: 0;
        }

        .project_slide img{
            width: 100%;
        }
        .project-slide__3column{
            width: 100%;
        }

        .project-slide__3column img{
            width: calc(100%/3);
        }

        .item-width50__item img{
            width: calc(50% - 16px);
        }
        .project-slide__3column__insta{
            width: 100%;
        }
        .project-slide__3column__insta__item{
            width: calc(100%/3);
        }
 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px)  { 
    .project-MV{
        margin-top: 5%;
    }
    .project_flexitem{
        width:calc((100% - 1%) / 2 );
        margin-left: 1%;
    }
    
    .project_flexitem:nth-child(n + 3){
        margin-top: 1%;
    }

    .project_flexitem:nth-child(2n + 1){
        margin-left: 0;
    }

    .project-information__title{
        width: 100%;
    }
    .project-information__detail{
        width: 100%;
    }

    .project-introduction__order-txt,.project-introduction__target-txt{
        width: 100%;
    }
    
    .project-introduction__order-img,.project-introduction__target-img{
        width: 100%;
        margin-top: 5%;
    }

    .project-output__portlait{
        width: 80%;
    }

        .project_slide img{
            width: 100%;
        }

        .project-slide__3column{
            width:100%;
        }

        .project-slide__3column img{
            width: calc(100%/3);
        }

        div.tres_sitemap img{
            height: auto;
            width: 100%;
        }

        .item-width50__item img{
            width: calc(50% - 16px);
        }
        .project-slide__3column__insta{
            width: 100%;
        }
        .project-slide__3column__insta__item{
            width: calc(100%/3);
        }

    }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 

    .project-MV{
        margin-top: 8%;
    }
    .project_flexitem{
        width:100%;
        margin-left: 0;
    }

    .project_flexitem:nth-child(n + 2){
        margin-top: 3%;
    }    
    .project-information__title{
        width: 100%;
    }
    .project-information__detail{
        width: 100%;
    }

    .project-introduction__order-txt,.project-introduction__target-txt{
        width: 100%;
    }
    
    .project-introduction__order-img,.project-introduction__target-img{
        width: 100%;
        margin-top: 5%;
    }

    .project_slide img{
        width: 100%;
    }

    .project-slide__3column img{
        width: calc(100%/3);
    }

    .project-slide__3column{
        width: 100%;
    }
    .item-width50__item img{
        width: calc(50% - 16px);
    }

    .project-slide__3column__insta{
        width: 100%;
    }
    .project-slide__3column__insta__item{
        width: calc(100%/3);
    }

    .project-title{
        width: 100%;
    }
    
    .project-sub-title{
        width: 100%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .project-MV{
        margin-top: 12%;
    }

    .project_flexitem{
        width:100%;
        margin-left: 0;
        }
    .project_flexitem:nth-child(n + 2){
        margin-top: 3%;
    }    

    .project-information__title{
        width: 100%;
        line-height: 2.6rem;
    }
    .project-information__detail{
        width: 100%;
    }

    .project-introduction__order-txt,.project-introduction__target-txt{
        width: 100%;
    }
    
    .project-introduction__order-img,.project-introduction__target-img{
        width: 100%;
        margin-top: 5%;
    }

    .project-output__portlait{
        width: 100%;
    }

    .project-output__two-column-item.sp-down{
        width: 100%;
    }

    .project_slide img{
        width: 100%;
    }
    .project-slide__3column{
        width: 100%;
    }


    .project-slide__3column img{
        width: calc(100%/3);
    }        

    div.tres_sitemap img{
        height: auto;
        width: 100%;
    }

    .tres_item{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        box-sizing: border-box;
    }
    .project_slide{
        margin-top: 2rem;
    }
    .item-width50__item p{
        width: 100%;
    }
    .item-width50__item img{
        width: 100%;
    }
    .contents-flex-container__item{
        width: 100%;
    }
    .contents-flex-container__item:nth-child(2){
        margin-left: 0px;
    }

    .project-slide__3column__insta{
        width: 100%;
    }
    .project-slide__3column__insta__item{
        width: calc(100%/2);
    }

    .project-title{
        width: 100%;
    }
    
    .project-sub-title{
        width: 100%;
        margin-top: 1rem;
    }
 }

