@charset "UTF-8";


div.project{
    margin-top: 3%;
}

.project_flex{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project_flexitem{
width:calc(100%/4);
box-sizing: border-box;
flex-wrap:wrap;
align-self: stretch;
padding: 1%;
position: relative;
}

.project_flexitem img{
    width:100%;
    height:	100%;  
    object-fit: cover;
}

.project_flexitem .mask{
    width:100%;
    height:	100%;
     /*たかさんコード参照*/
    display: flex;
    align-items: center;
    /* justify-content: ; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;	/* .maskを表示しない */
	background-color:	rgba(0,0,0,0.8);
	-webkit-transition:	all 0.6s ease;
    transition: all 0.6s ease;
    overflow: hidden;
}

.project_flexitem .mask p{
    text-align:left;
    color:#fff;
    padding: 2rem;
}

.project_flexitem:hover .mask{
    opacity: 1;	/* マスクを表示する */
}

.mask span.subtitle{
    display: inline-block;
    margin-bottom: 0.5rem ;
}


.project img{
    display: block;
    width: 100%;
}


.project_slide{
    margin-top: 3%;
    padding: 3%;
    box-sizing: border-box;
    background-color:#e6e6e6;
}

.project_slide img{
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    box-sizing: border-box;
    display: block;
    width: 80%;
}

.project_CPS{
    margin-top: 3%;
}

.project_CPS h3{
    display: inline-block;
    width: 10rem;
    margin-bottom: 0.5rem;  
}

.project_CPS h4{
    display: inline-block; 
}

.tres_styleguide{
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tres_item{
    width: 50%;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
}

.tres_item img{
    display: block;
    width: 100%;
}

div.tres_sitemap img{
    display: inline-block;
    text-align: left;
    
    height: 100vh;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.viewflex{
    display: flex;
    justify-content: center;

}

.viewimage{
    white-space: nowrap;
     display: block;
    width: min-content;
     text-align: center;
    padding: 0.5em 1em;
    margin: 5% auto 0 auto;

    border-top:  solid 2px #000;
    border-bottom: solid 2px #000;
    transition: .4s;
  }
.viewimage2{
    margin-right:15px;
    margin-left: 15px;
  }
  .viewtext {
    text-decoration: none;
    color: #000 ;
  }

  .viewimage:hover{
    background: #367CFF;  

  }

 .viewtext:hover{
  color: #fff ;
  }

  .viewsite{
    margin-left: 1rem;
    transition: .4s;
  }

  .viewsite_text {
    text-decoration: none;
    color: #367dff;
  }
  .viewsite:hover{
    opacity: 0.5;
  }


  footer.project_button{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div.button_item{
    display: block;
    margin-right:3%;
    margin-left: 3%;
}

footer.project_button a.url{
    font-size: 22px;
}

footer.project_button a.url:hover{
    opacity: 0.5;
}



/* Extra large devices (large desktops, 1200px and up) 
default*/
@media (min-width: 1200px) { }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px)  { 
    .project_flexitem{
        width:calc(100%/3);
        }
        .project_slide img{
            width: 100%;
        }
 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px)  { 
    .project_flexitem{
        width:calc(100%/2);
    
        }

        .project_slide img{
            width: 100%;
        }

        div.tres_sitemap img{
            height: auto;
            width: 100%;
        }


 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .project_flexitem{
        width:100%;
        padding: 3%;
        }

        .project_slide img{
            width: 100%;
        }
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .project_flexitem{
        width:100%;
        padding: 3%;
        }

        .project_slide img{
            width: 100%;
        }
         
        .project_CPS{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        
        .project_CPS h3{
            display: block;
            width: auto;
        }
        
        .project_CPS h4{
            display: block; 
            padding-left: 1rem;
        }

        div.tres_sitemap img{
            height: auto;
            width: 100%;
        }

        .tres_item{
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            box-sizing: border-box;
        }
        .project_slide{
            margin-top: 2rem;
        }

 }

