@charset "UTF-8";
/* css documentを始めます*/
/* PCを基本にcssを記述 */

div#wrapper {
  margin: 0 auto;
  height: 100%;
box-sizing: border-box;
font-stretch:normal;
width: 100%;
}

.contents{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-flex{
margin: 0 auto;
padding: 10%;
  display: flex;
	justify-content: center;
	align-items: center;
}

.top-flex-item1{
	display: block;
  width: 50%;
  margin-right: 5px;
}

.top-flex-item2{
  display: block;
	width: 50%;
}

.logo{
	display: block;
	width: 100%;
}

.Introduction{
  white-space: nowrap;
  margin: 0 auto;
   display: block;
   width: 150px;
   text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000 ;
  border-top:  solid 2px #000;
  border-bottom: solid 2px #000;
  transition: .4s;
}

.Introduction:hover{
  color: #fff;
  background: #ff5736;  
}

.Portfolio{
  white-space: nowrap;
  margin: 30px auto;
   display: block;
   width: 150px;
   text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000 ;
  border-top:  solid 2px #000;
  border-bottom: solid 2px #000;
  transition: .4s;
}

.Portfolio:hover{
  color: #fff;
  background: #192cb0;
  
}

/* タブレット横 →　PCと同様*/

/* タブレット縦のみ →カラム落ち*/
@media screen and (max-width: 1024px) and (orientation: portrait){
  .top-flex{
    flex-wrap: wrap;
    padding: 5%;
  }
  .top-flex-item1{
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20%;
  }
  
  .top-flex-item2{
    display: block;
    width: 100%;
    font-size: 1.4rem;
  }
.Introduction{
  width: 200px;

}
.Portfolio{
  width: 200px; 
}
}
/* スマホ横のみ→元に戻す */
@media screen and (max-width: 896px) and (orientation: landscape){
  .top-flex{
    padding: 5%;
  }
}

/* スマホ縦から→デザインはタブレット縦と同様 */
@media screen and (max-width: 480px){

  .top-flex-item2{
    font-size: 1rem;
  }
.Introduction{
  width: 150px;

}
.Portfolio{
  width: 150px; 
}
}